.vs/
EventManagement.API/bin/
EventManagement.API/obj/
EventManagement.BusinessLogic/bin/
EventManagement.BusinessLogic/obj/
EventManagement.DataAccess/bin/
EventManagement.DataAccess/obj/
EventManagement.Utilities/bin/
EventManagement.Utilities/obj/
